
.header{    
    min-height: 65vh;
    background: black;
    background-image: url('../../public/images/header-bg.svg');
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 !important;
    padding: 0 !important;
}
