.contact{
    background: #1e1e1e !important;
    min-height: 75vh;
    color: white;
    font-size: .5rem;
}

.contact button{
    background: var(--darker-red);
    border: none;
    font-weight: 300;
}

.contact button:hover{
    background: var(--primary-red);
}
