.nav,
.navLinks{
    z-index: 999;
}
.nav{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--navbar-clr);
    font-family: Rubik-Semi-Bold;
    letter-spacing: 1px;
    font-size: 15.5px;
    text-transform: uppercase;
    box-shadow: 0px 1px 5px var(--nav-boxshadow-clr);
    opacity: 1;
}

.navLinks ul{
    margin: 0;
    padding: 0;
    display: flex;
    height: 100%;
}

.navLinks a{
    transition: all 0.2s ease-in-out;
    position: relative;
    display: block;
    color: var(--navlinks-clr);
    min-height: 100% !important;
    padding: 1rem;
    text-shadow: 0px 0px 2px var(--navlinks-shadow);
}

.navLinks li{
    /* min-height: 100% !important; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0rem .3rem;
    /* text-shadow: 0px 0px 5px silver; */
}

.navLinks li::after{
    content: '';
    position: absolute;
    width: 0%;
    height: 5px;
    left: 50%;
    bottom: 0;
    background-color: var(--navlinks-after) !important;
    transition: all ease-in-out .2s;
    border-bottom-left-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
}

.navLinks li:hover::after{
    width: 100%;
    left: 0;
}

.navLinks li a:hover{
    color: var(--navlinks-hover) !important;
}

.active a{
    color: var(--navlinks-active) !important;
    /* border-bottom: 5px #ff0011 solid !important;
    border-bottom-left-radius: 5px 5px !important;
    border-bottom-right-radius: 5px 5px !important; */
}

.active a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    left: 0;
    bottom: 0;
    background-color: var(--navlinks-after) !important;
    transition: all ease-in-out .2s;
    border-bottom-left-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
}


/* Brand Logo */

.brand{
    position: relative;
    padding: .3rem 0;
}

/* Mobile Navigation */

@media only screen and (max-width: 1445px){
    .navLinks{
        width: 55%;
    }
}

@media only screen and (max-width: 1190px){
    .navLinks{
        width: 65%;
    }
}

@media only screen and (max-width: 1000px){
    .navLinks li:hover::after{
        width: 50%;
        left: 25%;
    }

    .nav{
        flex-direction: column;
        align-items: flex-start;        
    }
    .navLinks{
        display: none;
        width: 100%;
    }

    .navLinks ul{
        width: 100%;   
        flex-direction: column;
    }

    .navLinks li{
        text-align: center;
        margin: 1rem;
    }

    .navLinks.active{
        display: flex;
    }

    .toggler{
        display: block !important;
    }

    .brand{
        margin: 0 auto;
        height: 100px !important;
        width: 100px !important;
    }
    
    /* .navLinks{
        position: absolute;
        right: 0px;
        height: 50vh;
        top: 12vh;
        background: var(--primary-black);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    } */

    /* .navLinks li{
        margin: .8rem;
    }
    
    .toggler{
        display: block !important;
        transform: translateX(-50%);
        left: 40%;
    }
    .brand{
        position: absolute;
        transform: translateX(-50%);
        left: 50%;
    } */
}

.navActive{
    display: flex;
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translate(50px);
    }
    to{
        opacity: 1;
        transform: translate(0px);
    }
}

/* TOGGLER */

.toggler:focus, .toggler{
    border: none;
    outline: none;
}

.toggler:focus{
    box-shadow: none !important;
}
    
.toggler{
    display: none;
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    width: 30px;
    height: 20px;
    margin: 1rem 2rem;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
} 

.toggler > span{
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: var(--toggler-clr);
    border-radius: 20px;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    transform: translate(-50%, -50%);
    left: 50%;
}   

.toggler:hover > span{
    background: var(--toggler-clr);
    height: 3.8px;
}


.toggler span:nth-child(1){
    top: 0px;
} 


.toggler span:nth-child(2){
    top: 10px;
} 


.toggler span:nth-child(3){
    top: 20px;
} 


.toggler.open span:nth-child(1){
    top: 50%;
    left: 5%;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
} 


.toggler.open span:nth-child(2){
    opacity: 0;
    left: -60px;
} 

.toggler.open span:nth-child(3){
    top: 50%;
    left: 5%;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
} 
