
.nav ul{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Rubik-Bold;
    letter-spacing: 1px;
    font-size: 15px;
    text-transform: uppercase;
}

.nav{
    position: relative;
    height: 80px;
    background: #17161a;
}

.nav ul{
    border: 1px solid green;
    width: 100%;
    height: 100%;
}

.nav ul li{
    min-height: 100% !important;
    position: relative;
    display: block;
    margin: 0rem .3rem;
}

.nav ul li a{
    transition: all 0.2s ease-in-out;
    position: relative;
    display: block;
    color: white;
    padding: 1.7rem 1rem;
    margin: 0 .1rem;

/*  old border-bottom

    border-bottom: 5px #ff0e1e00 solid;
    border-bottom-left-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px; */
}

.nav ul li::after{
    content: '';
    position: absolute;
    width: 0%;
    height: 5px;
    left: 50%;
    bottom: 0;
    background-color: #ff0e1f;
    transition: all ease-in-out .2s;
    border-bottom-left-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
}

.nav ul li:hover::after{
    width: 100%;
    left: 0;
}

.nav ul li:hover > a{
    color: #ff0e1f !important;
}

.active{
    color: #ff0e1f !important;
}

