.topBarWrapper{
    position: relative;
    height: 35px;
    background: #4A4B4B;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Rubik-Bold;
}
