.footer {
    color: white;
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
    background: var(--darker-red);
    height: 100%;
}

.footer ul{
    list-style: none;
    text-align: left;
    color: white;
}

.copyRight{
    font-size: 1rem !important;
}