/* x = x / (sens *0.116) */
.description{
    font-size: 1.2rem !important;
  }
  
  
.card{    
    position: relative;
    border: none !important;
    margin: 1rem 0;
    height: 100%;
    transition: all 0.1s;
    overflow: hidden;
    box-shadow: 0 5px 10px rgb(0 0 0 / 80%);
    transform-origin: center top;
    transform-style: preserve-3d;
    transform: translateZ(0);
    transition: 0.3s;
    box-shadow: 0px 0px 15px 0px var(--darker-red);
}  

  
.card:hover{
    transform: translateZ(50px);
    border-radius: 3px;
    box-shadow: 0px 0px 20px 0px var(--darker-red);
}
  
.card-header{
    background: var(--darker-red);
    color: white;
    font-weight: bold;
    padding: 1rem 0rem !important;
    font-family: Rubik-Bold;
}
  
  
.card-body{
    background: #171717;
    height: 100%;
}

  
.wet-card{
  margin-left: 1.3rem !important;
}

#card-svg{
  color: white !important;
  display: block;
  margin: .5rem -1rem;
}


#contact-card{
  padding: 1rem 1rem;
  text-align: center;
  background: #171717 !important;
}


#contact-card .card-header{
  background: #171717 !important;
}


#contact-card .card-body{
  background: #171717 !important;
}

.card-img{    
  border-radius: 40px !important;
  height: 50% !important;
}
  
  