html, body, .App, #root{
  min-height: 100vh !important;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: Rubik;
}

hr{
  width: 50%;
  margin-right: auto !important;
  margin-left: auto !important;
  background: white !important;
  color: white !important;
}

.long-text{
  font-size: 1.3rem;
  text-align: left;
  font-size: clamp((.9em), (1.6vw), (1.3em));
}


/* Variables */

:root{
  --primary-black: #0e0e0f;
  --footer-clr: rgba(15,15,15,.8);
  --primary-red: #ff0e1f;
  --darker-red: #9b000a;
}

/* Typography */

h1, p, h3, h2 {
  font-size: clamp(var(--min), var(--val), var(--max));
}

h1 {
  --min: 2em;
  --val: 5vw;
  --max: 3em;
}

p {
  --min: 1em;
  --val: 2.5vw;
  --max: 2em;
}

h2{
  --min: 1.5em;
  --val: 4vw;
  --max: 2.5em;
}

h3{
  --min: 1.2em;
  --val: 2.5vw;
  --max: 1.6em;
}

body{
  background: linear-gradient(to right,#17161a,#242124 50%,#17161a);
}

a {
  color: inherit;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

#separator{
  display: flex;
  justify-content: center;
  align-items: center;  
  background: var(--footer-clr);
  color: rgb(255, 255, 255);
  min-height: 100%;
  padding: 1rem;
  width: 100%;  
  text-decoration: solid;
  letter-spacing: 1.2px;
  font-family: Rubik-Bold !important;
}
/* Utilities class */

/* .row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.row > *{
  flex: 1 1 33em;
  margin-right: auto;
  border: 2px solid red;
} */

section{
  padding: 1.2rem;
  min-height: 100%;
  text-align: center;
  color: white;

}


.mt-0{
  margin: 0 !important;
}

/* FONTS */
@font-face {
  font-family: Rubik;
  src: url("../public/fonts/Rubik-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: Rubik-Light;
  src: url("../public/fonts/Rubik-Light.ttf");
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: Rubik-Bold;
  src: url("../public/fonts/Rubik-Bold.ttf");
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: Rubik-Semi-Bold;
  src: url("../public/fonts/Rubik-SemiBold.ttf");
  font-style: bold;
  font-display: swap;
}
