html, body, .App, #root{
  min-height: 100vh !important;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  overflow-x: clip !important;
}

body{
  background: linear-gradient(to right,#17161a,#242124 50%,#17161a);
}

/* Variables */

:root{
  --primary-black: #0e0e0f;
  --section-clr: #151516;
  --footer-clr: rgba(15,15,15,.8);
  --primary-red: #ff0e1f;
  --darker-red: #9b000a;

  /* Variables for the arrow separator clip */
  --size: 50px;   /* size of the cut */
  --gap: 10px;    /* the gap */
  --angle: 90deg; /* angle of the arrow */
}


.top {
  clip-path: polygon(0 0,100% 0,100% calc(100% - var(--size)),calc(50% + tan(var(--angle)/2)*var(--size)) calc(100% - var(--size)),50% 100%,calc(50% - tan(var(--angle)/2)*var(--size)) calc(100% - var(--size)),0 calc(100% - var(--size)));
}
.bottom {
  clip-path: polygon(0 0,calc(50% - tan((180deg - var(--angle))/4)*var(--gap) - tan(var(--angle)/2)*var(--size)) 0,50% calc(var(--size) + (1/sin(var(--angle)/2) - 1)*var(--gap)),calc(50% + tan((180deg - var(--angle))/4)*var(--gap) + tan(var(--angle)/2)*var(--size)) 0,100% 0,100% 100%,0 100%);
  margin-top: calc(var(--gap) - var(--size));
}


body{
  overflow-x: clip !important;
  scrollbar-color: red !important;
}

body::-webkit-scrollbar{
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--primary-red);
  /* border-radius: 6px; */
  border: 3px solid var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb:hover{
  background-color: var(--darker-red);
}


hr{
  width: 50%;
  margin-right: auto !important;
  margin-left: auto !important;
  background: white !important;
  color: white !important;
}

.long-text{
  text-align: left;
  font-size: clamp((1em), (1.4vw), (1.2em));
  padding: 1rem;
}




/* Typography */

h1, p, h3, h2 {
  font-size: clamp(var(--min), var(--val), var(--max));
}

h1 {
  --min: 2em;
  --val: 5vw;
  --max: 3em;
}

p {
  --min: 1em;
  --val: 2.5vw;
  --max: 2em;
}

h2{
  --min: 1.6em;
  --val: 4.5vw;
  --max: 2.2em;
  /* text-shadow: 3px 3px 10px var(--darker-red); */
}

h3{
  --min: 1.3em;
  --val: 2.5vw;
  --max: 1.8em;
  /* text-shadow: 3px 3px 5px red; */
}

body{
  background: linear-gradient(to right,#17161a,#242124 50%,#17161a);
}

a {
  color: inherit;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

/* Utilities class */


#separator{  
  display: flex;
  justify-content: center;
  align-items: center;  
  background: var(--darker-red);
  color: rgb(255, 255, 255);
  min-height: 100%;
  padding: 1rem;
  width: 100%;  
  text-align: center !important;
  text-decoration: solid;
  letter-spacing: 1.2px;
  font-family: Rubik-Bold !important;
  clip-path: polygon(0 0, 100% 0%, 100% 79%, 51% 100%, 0 80%);

}

/* Sections */

section{
  padding: 4rem 2rem;
  min-height: 100%;
  text-align: center; 
  color: white;
  display: flex;
  flex-direction: column;
  /* background: var(--section-clr); */
}

#realisations{
  min-height: 75vh !important;
}

#a-propos{
  padding: 4rem 2rem;
}

#realisations .container{
  box-shadow: 0px 2px 8px 0px red;
  background: var(--primary-black);
}

.image-gallery-content .image-gallery-slide .image-gallery-image{
  max-height: 65vh !important;
   /* max-height: 85vh !important; */
  padding-top: 5rem;
}

.image-gallery-thumbnails{
  border-top: 2px solid var(--darker-red);
  padding: 1rem !important;
  margin-top: 2.5rem;
}

.shadow-border{
  box-shadow: 0px 2px 8px 0px red !important;
}

.flex-center{
  background: var(--primary-black) !important;
  display: flex;
  align-items: center;
  justify-content: center;
}



.mt-0{
  margin: 0 !important;
}

#contact{
  background:  linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .5)), url('../public/images/contact-bg.jpg') !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* FONTS */
@font-face {
  font-family: Rubik;
  src: url("../public/fonts/Rubik-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: Rubik-Light;
  src: url("../public/fonts/Rubik-Light.ttf");
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: Rubik-Bold;
  src: url("../public/fonts/Rubik-Bold.ttf");
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: Rubik-Semi-Bold;
  src: url("../public/fonts/Rubik-SemiBold.ttf");
  font-style: bold;
  font-display: swap;
}

@media only screen and (max-width: 700px){
  section{
    padding: 1rem .9rem;
    
  }
  #a-propos{
    padding: 3rem 0;
  }
}
@media only screen and (max-width: 500px){
  section{
    padding: 3rem 1rem;
  }
}

@media only screen and (max-width: 360px){
  section{
    padding: 3rem .4rem;
  }
}


@keyframes navLinkFade{
  from{
      opacity: 0 !important;
      transform: translate(50px);
  }
  to{
      opacity: 1 !important;
      transform: translate(0px);
  }
}